:root {
    --black: #311f09;
    --orange: #ff8a00;
    --green:#3fa72f;
    --white-orange:#ffe6c9;
    --whire-blue:#ecf9f0;
    --back-reverse:#FFF4E7;
}


body, html {
    font-family: "Poppins", sans-serif;
    font-size: 20px;
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
}

* {
    box-sizing: border-box;
}

.container {
    max-width: 1237px;
    margin: 0px auto;
}

/* HEADER */

header {
    margin-top: 30px;
}


.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-content_last {
    align-items: center;
    display: flex;
}

.header-content_last img {
    margin-right: 25px;
}

.header-content_last a:last-of-type {
    background-color: var(--green);
    text-decoration: none;
    color: #ffffff;
    padding: 15px 34px;
    border-radius: 133px;

    transition: background-color .4s ease;
}

.header-content_last a:last-of-type:hover {
    background-color: var(--orange);
}

nav a {
    text-decoration: none;
    margin-right: 45px;
    color: var(--black);
    display: inline-block;

    transition: all .4s ease;
}

nav a:hover {
    color: var(--green);
    transform: scale(1.05);
}

nav a:last-of-type {
    margin-right: 0;
}

nav a.checked {
    color: var(--orange);
}

/*MAIN*/

main {
    margin-top: 166px;
}

.main-content {
    display: flex;
    justify-content: space-between;
   /* align-items: center; */
}

.main-content_about {
    color: var(--orange);
    background-color: var(--white-orange);
    padding: 10px 34px;
    border-radius: 126px;
    display: inline-block;

    margin-bottom: 22px;
}

.main-content h1 {
    color: var(--black);
    font-size: 80px;
    font-family: "Raleway", sans-serif;
    line-height: 110%;
    font-weight: 700;
    margin-bottom: 30px;
}

.main-content p {
    line-height: 200%;
    margin-bottom: 77px;
    color: var(--black);
}

.main-content__buttons a:first-of-type {
    padding: 17px 35px;
    background-color: var(--orange);
    border-radius: 162px;
    color: #fff;
    text-decoration: none;
    margin-right: 10px;
    display: inline-block;

    transition: transform .4s ease;
}

.main-content__buttons a:last-of-type {
    padding: 17px 30px;
    background-color: var(--green);
    border-radius: 162px;
    color: #fff;
    text-decoration: none;
    display: inline-block;

    transition: transform .4s ease;
}

.main-content__buttons a:hover {
    transform:scale(1.05);
}

/* WELCOME */

.welcome {
    background-color: var(--whire-blue);
    padding-top: 147px;
    padding-bottom: 132px;
}

.welcome-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.welcome-inner h2 {
    font-family: "Tinos", serif;
    font-weight: 700;
    line-height: 110%;
    font-size: 80px;
    margin-bottom: 60px;

    color: var(--black);
}

.welcome-inner h2 span {
    color: var(--orange);
}

.welcome-inner p {
    color: #5c4529;
    line-height: 200%;
    margin-bottom: 122px;
}

.welcome-inner a {
    color: #fff;
    text-decoration: none;
    padding: 17px 45px;
    background-color: var(--orange);
    border-radius: 162px;
    display: inline-block;

    transition: transform .4s ease;
}

.welcome-inner a:hover {
    transform: scale(1.1);
}

/* MENU */

.menu {
    padding-top: 164px;
    padding-bottom: 201px;
}

.menu h2 {
    font-family: "Tinos", serif;
    font-weight: 700;
    color: var(--black);
    font-size: 80px;
    text-align: center;
    line-height: 200%;
    margin-bottom: 60px;
}

.menu-buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin-bottom: 60px;
}

.menu-buttons a {
    background-color: rgb(208,204,199, 0.1);
    color: var(--black);
    text-decoration: none;
    padding: 17px 64px;
    border-radius: 162px;
    font-size: 20px;

    transition: background-color .4s ease;
}

.menu-buttons .checked {
    background-color: var(--black);
    color: #fff;
}

.menu-buttons a:hover {
    background-color: var(--orange);
}

.menu-items {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    margin-bottom: 88px;
}

.menu-item {
    width: 32%;
    background-color: rgb(208,204,199, 0.1);
    border-radius: 70px;
    text-align: center;
    padding: 35px 29px ;
    margin-bottom: 40px;
    min-height: 885px !important;
}

.menu-item p{
    max-height: 197px;
    overflow: hidden;
    height: 100%;
}

.menu-item h3 {
    font-weight: 600;
    font-size: 30px;
    line-height: 200%;
    margin-bottom: 5px;
}

.menu-item__raiting {
    margin-bottom: 15px;
}

.menu-item__raiting img {
    margin-right: 10px;
}

.menu-item__raiting img:last-of-type {
    margin-right: 10px;
}

.menu-item__raiting p {
    font-size: 14px;
    line-height: 200%;
    color: #59442b;
    margin-bottom: 30px;
}

.menu-item__last {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.menu-item__last-price {
    font-size: 25px;
    font-weight: 600;
    
}

.menu-item__last a{
    background-color: var(--orange);
    color: #fff;
    text-decoration: none;
    padding: 11px 36px;
    border-radius: 62px;
    font-size: 16px;

    transition: background-color .4s ease;
}

.menu-item__last a:hover {
    background-color: var(--green);
}

.menu-pag {
    display: flex;
    justify-content: center;

}

.menu-pag a {
    text-decoration: none;

}

.back {
    background-color: var(--black);
    border-radius: 15px;
    margin-right: 30px;
    color: #fff;

    width: 55px;
    height: 55px;

    position: relative;
}

.back span {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 46px;
    font-weight: 100;
}

.page {
    background-color: rgb(255, 138, 0, 0.1);
    width: 55px;
    height: 55px;
    border-radius: 15px;
    margin-right: 15px;
    
    position: relative;
}

.page span {
    color: var(--orange);
    font-weight: 600;
    font-size: 16px;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.dot {
    position: relative;
    width: 55px;
    height: 55px;
}

.dot span {
    position: absolute;
    top: 37%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #b7a28b;
    font-size: 26px;
    font-weight: 700;
}

.next {
    background-color: var(--black);
    border-radius: 15px;
    margin-left: 46px;
    color: #fff;
    width: 55px;
    height: 55px;

    position: relative;
}

.next span {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 46px;
    font-weight: 100;
}

/* RESERVE */

.reserve {
    padding-top: 113px;
    padding-bottom: 39px;
    background-color: rgb(255, 244, 231, 0.4);
}

.reserve-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.reserve-right {
    margin-left: 103px;
}

.reserve-right h2 {
    font-family: "Tinos", serif;
    font-weight: 700;
    color: var(--black);
    font-size: 80px;
    line-height: 110%;
    margin-bottom: 50px;
}

.reserve-right h2 span{
    color: var(--orange);
}

.reserve-right p {
    font-style: 20px;
    line-height: 220%;
    color: #5c4529;

    margin-bottom: 132px;
}

.reserve-right__buttons a{
    background-color: var(--orange);
    color: #fff;
    text-decoration: none;
    padding: 17px 55px;
    border-radius: 162px;

    transition: background-color .4s ease;
}

.reserve-right__buttons a:hover {
    background-color: var(--green);
}

/* CHEFS */

.chefs {
    padding-top: 175px;
    padding-bottom: 271px;

    text-align: center;
}

.chefs h2 {
    font-family: "Tinos", serif;
    font-size: 80px;
    line-height: 200%;
    font-weight: 700;

    margin-bottom: 135px;
    text-align: center;
}

.chefs-inner {
    display: flex;
    justify-content: space-between;
}
   
.chefs-item {
    text-align: center;
}

.chefs-item h3 {
    margin-top: 40px;
    margin-bottom: 30px;
    font-size: 25px;
    font-weight: 600;
    color: var(--black);
}

.chefs-item p {
    color: #a08d76;
    line-height: 200%;
    margin-bottom: 100px;
}

.chefs-all {
    background-color: var(--orange);
    font-size: 20px;
    font-weight: 600;
    text-decoration: none;
    color: #fff;
    padding: 17px 78px;
    transition: background-color .4s ease;

    border-radius: 162px;
}

.chefs-all:hover {
    background-color: var(--green);
}


/* CLIENTS */


.clients {
    background-color: rgba(208, 204, 199, 0.1);
    padding: 71px 0px 99px 0px;
}

.clients-inner {
    background-image: url(../images/bg-clients.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;

    text-align: center;
}

.clients-title {
    font-family: "Tinos", serif;
    font-size: 80px;
    line-height: 200%;
    font-weight: 700;
    margin-bottom: 57px;

    color: var(--black);
}

.clients-about-img {
    margin-bottom: 41px;
}

.clients-about-title {
    font-weight: 600;
    font-size: 30px;
    line-height: 200%;

    color: var(--black);
}

.clients-about-text {
    color: #5c4529;
    font-size: 20px;
    line-height: 200%;
    margin-bottom: 65px;

}

.clients-about-inner {
    position: relative;
    width: 524px;
    margin-right: auto;
    margin-left: auto;
}

.clients-about-inner p {
    color: #5c4529;
    font-size: 20px;
    line-height: 200%;
}

#dot1 {
    position: absolute;
    top: -45px;
    left: -45px;
}

#dot2 {
    position: absolute;
    bottom: -45px;
    right: -45px;
    transform: rotate(180deg);
}


/* OPEN */

.open-from {
    background-image: url(../images/Background.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;

    text-align: center;
    padding: 248px 135px;
}

.open-from h2 {
    color: #fff;
    font-family: "Tinos", serif;
    font-size: 80px;
    line-height: 160px;
    font-weight: 800;
    margin-bottom: 26px;
}

.open-text {
    align-items: center;
    color: #fff;
    font-size: 20px;
}

.open-text h3 {
    font-size: 40px;
    line-height: 80px;
}

.open-text p {
    line-height: 40px;
    width: 400;
    margin-bottom: 40px;
}

.open-buttons a {
    margin-bottom: 100px;
}

.open-buttons a:first-of-type {
    padding: 17px 35px;
    background-color: var(--orange);
    border-radius: 162px;
    color: #fff;
    text-decoration: none;
    margin-right: 23px;
    
    display: inline-block;

    transition: transform .4s ease;
}

.open-buttons a:last-of-type {
    padding: 17px 30px;
    background-color: #FFFFFFF2;
    border-radius: 162px;
    color: var(--black);
    text-decoration: none;
    display: inline-block;

    transition: transform .4s ease;
}

.open-buttons a:hover {
    transform:scale(1.05);
}

/* FOOTER */

footer {
    background-color: #3e260b;
    color: #f4a400;
    padding: 40px 0;
}

.footer-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 20px 40px;
}

.footer-column {
    max-width: 220px;
    margin: 20px 0;
    color: #E3E2E0;
    ;
}

.footer-column h4 {
    font-size: 18px;
    margin-bottom: 10px;
    color: #ff9400;
}

.footer-column ul {
    list-style: none;
    padding: 0;
}

.footer-column ul li {
    margin-bottom: 8px;
}

.footer-column ul li a {
    text-decoration: none;
    color: #E3E2E0;
    font-size: 14px;
}

.footer-column a:hover {
    color: #ff9400;
}

.brand {
    text-align: left;
    color: #E3E2E0;
}

.logo {
    font-size: 36px;
    padding: 10px;
    color: #ff9400;
    display: inline-block;
}

.footer-bottom {
    text-align: center;
    padding-top: 20px;
    border-top: 1px solid #5a3a15;
    color: #E3E2E0;
    font-size: 14px;
    margin-top: 20px;
}

/* The Modal (background) */
.modal {
    display: none; 
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    
    /* width: 100%; 
    height: 100%;  */
    overflow: auto;
    
    background-color: rgba(0,0,0,0.1); 
  }
  
  /* Modal Content */
  .modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 100%;
    max-width: 400px;
  }
  


.container-modal {
    width: 800px;
    height: 500px;
    background-color: var(--white-orange);
    position: relative;
    
}

.block-modal {
    height: 100%;
    box-shadow:0 5px 45px rgba(0, 0, 0, 0.2); 
    background-color: rgba(255, 255, 255, 0.2);

    display: flex;
    align-items: center;
}

.block__item {
    width: 50%;
}

.block-item__modal {
    text-align: center;
    
}

.block-item__title {
    font-weight: 500;
    margin-bottom: 10px;
    color: var(--black);
}

.block-item__btn {
    border: none;
    cursor: pointer;
    padding: 10px 20px;
    color: #333;
    background-color: #fff;
    font-size: 16px;
    font-weight: 500;
}

.form-box {
    background-color: #fff;
    height: 100%;
    width: 50%; 
    box-shadow:0 5px 45px rgba(0, 0, 0, 0.25);

    position: absolute;
    top: 0;
    left: 0;
    z-index: 1000;
    transition: 0.6s ease-in-out;

    display: flex;
    align-items: center;
    overflow: hidden;
}

.form-box.active {
    left: 50%;
}


.form {
    width: 100%;
    padding: 50px;
    font-size: 16px;

    position: absolute;

    transition: 0.6s;
}

.form-signin {
    left: 0;
    transition-delay: 0.25s;
}

.form-signup {
    left: 100%;
    transition-delay: 0s;
}

.form-box.active .form-signin {
    left: -100%;
    transition-delay: 0s;
}

.form-box.active .form-signup {
    left: 0;
    transition-delay: 0.25s;
}



.form__title {
    font-weight: 500;
    font-size: 1.5rem;
    color: #333;
}

.form__input {
    width: 100%;
    padding: 10px;
    font-size: inherit;
    border: solid 1px #333;
}

.form__btn {
    border: none;
    cursor: pointer;
    font-size: inherit;
    background-color: var(--green);
    color: #fff;
    padding: 10px 50px;
}

.form__btn-signup {
    background-color: var(--orange);
}

.form_forgot {
    color: #333;
    text-decoration: none;

}

/* Скрытие модального окна */
#loginModal {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 800px;
    background-color: rgba(255, 255, 255, 1);
    z-index: 9999;
    box-shadow: 0 0 0 11440px rgba(0, 0, 0, 0.25);
}

/* Кнопка закрытия */
.close-modal {
    position: absolute;
    top: 15px;
    right: 25px;
    font-size: 30px;
    font-weight: bold;
    color: #333;
    cursor: pointer;
    z-index: 1001;
}

.close-modal:hover {
    color: red;
}

/* Центрирование модального окна "Заказ онлайн" и "Бронирование" */
.order-modal, .reserve-modal {
    display: none; /* Используем flexbox для центрирования */
    justify-content: center; /* Центрируем по горизонтали */
    align-items: center; /* Центрируем по вертикали */
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4); /* Затемненный фон */
}

/* Контент модальных окон "Заказ онлайн" и "Бронирование" */
.order-content, .reserve-content {
    background-color: #fefefe;
    padding: 20px;
    border: 1px solid #888;
    width: 100%;
    max-width: 400px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    border-radius: 8px; /* Закругленные углы */
}

.form-order {
    display: flex;
    flex-direction: column;
}


  /* Close Button */
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }